@font-face{
  font-family: water;
  src: url("https://cdn.glitch.global/97f7bbb3-2cd9-4b34-bbf2-d0a28c71f10b/Water%20Park.ttf?v=1738683075854");
}

body {
  background-color: rgb(255, 223, 172);
  text-align: center;
  color: rgb(156, 98, 16);
  margin: auto;
  font-family: water;
}

h1{
  font-size: 30px;
}

#myCanvas {
  background-image: url("https://www.chesshouse.com/cdn/shop/products/16-wooden-chess-board-with-coordinates-21183957249.jpg?v=1568816347&width=2048");
  
  
}



